<div class="question_header" >
  <h1><%=@question.title%></h1>
  <h3><%=@question.body%></h3>
  <% @question.comments.each do |comment| %>
    <p><%=comment.body%></p>
  <% end %>

  <%= render :partial =>"comments/new", :controller => "comments", locals: {commentable: @question} %>
</div>

<%@question.answers.each do |a|%>
<div class="answer_header">
  <p><%=a.body%></p>
  <%= render :partial =>"comments/new", :controller => "comments", locals: {commentable: a} %>

  <% a.comments.each do |comment| %>
    <p><%=comment.body%></p>
  <% end %>
</div>
<% end %>

<div>
  <%= form_for [@question, @answer] do |f|%>
    <%= f.label "Type Your Answer Here:" %>
    <%= f.text_area :body %>
    <%= f.submit "Submit Answer" %>
  <% end %>

  <div id="flash-container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
    <% end %>
  </div>
</div>




