<!DOCTYPE html>
<html>
<head>
  <title>Stack Overload</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
      <li><%= link_to 'Log out', logout_path %></li>
      <p>Hello, <%= current_user.username%>! </p>
      <p>Total Points: <%= current_user.vote_count %>
      <% else %>
      <li><%= link_to 'Join', new_user_path %></li>
      <li><%= link_to 'Log In', login_path %></li>
      <% end %>
    </ul>
  </nav>
  <div id="flash-container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
